In [1]:
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

In [2]:
url = 'https://www.california-demographics.com/zip_codes_by_population'
response = requests.get(url, 'html.parser')
page_soup = soup(response.text)
population = []
for tr in page_soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    if len(tds[1].text.strip()) == 5:
        population.append([tds[1].text.strip(), tds[2].text.strip()])

IndexError: list index out of range

In [3]:
populationdf = pd.DataFrame(population)
populationdf.columns = ['zip', 'population']
populationdf

        zip population
0     90011    108,051
1     90650    106,404
2     91331    105,696
3     90201    102,878
4     92335     99,791
5     90250     97,371
6     91342     96,177
7     90805     96,069
8     90280     95,420
9     90044     94,680
10    92503     94,523
11    92336     94,327
12    94565     93,549
13    92683     91,758
14    92704     90,525
15    91710     88,862
16    92804     88,065
17    95076     87,781
18    92154     87,218
19    91744     86,982
20    92376     86,937
21    94112     85,373
22    93307     84,948
23    93722     84,481
24    91911     84,025
25    93033     83,572
26    92592     82,551
27    92126     81,883
28    93727     81,118
29    92509     81,093
...     ...        ...
1577  95140         70
1578  95974         65
1579  95679         64
1580  96046         63
1581  96111         59
1582  95305         52
1583  95587         51
1584  95463         50
1585  93208         48
1586  96071         47
1587  96049         46
1588  95720         42
1589  95984         41
1590  96123         40
1591  96136         38
1592  93522         34
1593  93519         28
1594  93634         24
1595  92304         23
1596  94972         22
1597  96061         21
1598  94573         20
1599  95325         19
1600  95724         18
1601  95923         16
1602  95226         15
1603  92332         11
1604  93530         10
1605  95430          6
1606  95735          2

[1607 rows x 2 columns]

In [4]:
starbucks = pd.read_csv('directory.csv')
starbucks.head()
starbucks = starbucks[['Brand','City','State/Province', 'Country', 'Postcode']]
starbucks.columns = ['brand', 'city', 'state', 'country', 'zip']
starbucks = starbucks[starbucks['country']=='US']
starbucks

           brand              city state country        zip
11964  Starbucks         Anchorage    AK      US  995042300
11965  Starbucks         Anchorage    AK      US  995073444
11966  Starbucks         Anchorage    AK      US  995153596
11967  Starbucks         Anchorage    AK      US      99515
11968  Starbucks         Anchorage    AK      US  995152050
11969  Starbucks         Anchorage    AK      US  995084218
11970  Starbucks         Anchorage    AK      US  995081928
11971  Starbucks         Anchorage    AK      US      99502
11972  Starbucks         Anchorage    AK      US  995037247
11973  Starbucks         Anchorage    AK      US      99504
11974  Starbucks         Anchorage    AK      US  995043554
11975  Starbucks         Anchorage    AK      US  995074456
11976  Starbucks         Anchorage    AK      US  995046105
11977  Starbucks         Anchorage    AK      US  995151453
11978  Starbucks         Anchorage    AK      US  995071128
11979  Starbucks         Anchorage    AK      US      99506
11980  Starbucks         Anchorage    AK      US  995021401
11981    Teavana         Anchorage    AK      US      99501
11982  Starbucks         Anchorage    AK      US  995152673
11983  Starbucks         Anchorage    AK      US      99502
11984  Starbucks         Anchorage    AK      US  995021023
11985  Starbucks         Anchorage    AK      US  995173340
11986  Starbucks         Anchorage    AK      US      99504
11987  Starbucks         Anchorage    AK      US      99501
11988  Starbucks       Eagle River    AK      US  995777722
11989  Starbucks       Eagle River    AK      US  995777823
11990  Starbucks       Eagle River    AK      US  995777565
11991  Starbucks         Fairbanks    AK      US  997094779
11992  Starbucks         Fairbanks    AK      US  997011706
11993  Starbucks         Fairbanks    AK      US  997094610
...          ...               ...   ...     ...        ...
25542  Starbucks         Princeton    WV      US  247403918
25543  Starbucks         Princeton    WV      US      24740
25544  Starbucks          Snowshoe    WV      US      26209
25545  Starbucks  South Charleston    WV      US  253091311
25546  Starbucks      Valley Grove    WV      US      26060
25547  Starbucks           Weirton    WV      US  260623831
25548  Starbucks          Wheeling    WV      US  260036563
25549  Starbucks            Casper    WY      US      82601
25550  Starbucks            Casper    WY      US  826094317
25551  Starbucks            Casper    WY      US  826094201
25552  Starbucks            Casper    WY      US  826044238
25553  Starbucks          Cheyenne    WY      US      82009
25554  Starbucks          Cheyenne    WY      US  820072848
25555  Starbucks          Cheyenne    WY      US  820015764
25556  Starbucks          Cheyenne    WY      US  820094131
25557  Starbucks          Cheyenne    WY      US      82009
25558  Starbucks          Cheyenne    WY      US  820013744
25559  Starbucks          Cheyenne    WY      US  820095448
25560  Starbucks              Cody    WY      US  824144701
25561  Starbucks          Gillette    WY      US  827186468
25562  Starbucks          Gillette    WY      US  827164981
25563  Starbucks           Jackson    WY      US      83001
25564  Starbucks           Jackson    WY      US  830014806
25565  Starbucks      Jackson Hole    WY      US      83001
25566  Starbucks            Lander    WY      US      82520
25567  Starbucks           Laramie    WY      US  820723012
25568  Starbucks           Laramie    WY      US  820705141
25569  Starbucks           Laramie    WY      US      82070
25570  Starbucks      Rock Springs    WY      US  829015751
25571  Starbucks         Sheridian    WY      US  828016213

[13608 rows x 5 columns]

In [5]:
starbucks = pd.read_csv('directory.csv')
starbucks = starbucks[['Brand','City','State/Province', 'Country', 'Postcode']]
starbucks.columns = ['brand', 'city', 'state', 'country', 'zip']
starbucks = starbucks[starbucks['country']=='US']
starbucksdf = pd.DataFrame(starbucks['zip'].str.slice(0,5,1).value_counts())
starbucksdf.reset_index(level=0, inplace=True)
starbucksdf.columns = ['zip', 'store_count']
starbucksdf.sort_values('store_count', ascending=False)

        zip  store_count
0     89109           32
1     98101           24
2     90045           21
3     10019           20
4     92101           20
5     60611           18
6     60666           18
7     10017           18
8     80202           17
10    98004           15
9     10001           15
11    10022           14
12    89119           14
13    60614           13
14    92626           13
15    10036           13
20    20001           12
24    95630           12
23    75261           12
21    22202           12
22    33607           12
19    98104           12
18    92108           12
17    85281           12
16    98052           12
31    98105           11
36    85032           11
35    60601           11
34    96819           11
33    91355           11
...     ...          ...
4134  60053            1
4135  66441            1
4136   6082            1
4137  29576            1
4138  55340            1
4139  98402            1
4140  63403            1
4122  10901            1
4120  28759            1
4100  89081            1
4109  91780            1
4101  97404            1
4102  42001            1
4103  12572            1
4104   2141            1
4105  44273            1
4106  87301            1
4107  37748            1
4108  84078            1
4110  63304            1
4119  79202            1
4111  11361            1
4112  41005            1
4113  28144            1
4114  81321            1
4115   1201            1
4116  83321            1
4117  78244            1
4118  60655            1
6005  37862            1

[6006 rows x 2 columns]

In [6]:
url = 'http://www.laalmanac.com/employment/em12c.php'
response = requests.get(url, 'html.parser')
page_soup = soup(response.text)
income = []
for tr in page_soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    income.append([tds[0].text.strip(), tds[1].text.strip(), tds[2].text.strip()])

In [7]:
incomedf = pd.DataFrame(income)
incomedf.columns = ['zip', 'community', 'median_income']
demographicsdf = incomedf.merge(populationdf, on='zip')

In [8]:
demographicsdf.dtypes

zip              object
community        object
median_income    object
population       object
dtype: object

In [9]:
finaldf = demographicsdf.merge(starbucksdf, on='zip')

In [12]:
finaldf

,zip,community,median_income,population,store_count
0,90001,"Los Angeles (South Los Angeles), Florence-Graham","$35,660","58,738",2
1,90004,"Los Angeles (Hancock Park, Rampart Village, Vi...","$46,581","62,733",1
2,90007,"Los Angeles (Southeast Los Angeles, Univerity ...","$23,070","41,221",3
3,90010,"Los Angeles (Hancock Park, Wilshire Center, Wi...","$47,115","3,759",3
4,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",7
5,90013,"Los Angeles (Downtown Central, Downtown Fashio...","$22,808","11,957",2
6,90014,"Los Angeles (Downtown Historic Core, Arts Dist...","$37,619","7,408",2
7,90015,"Los Angeles (Dowtown Fashion District, South P...","$32,979","20,187",5
8,90016,Los Angeles (West Adams),"$43,443","46,303",4
9,90017,"Los Angeles (Downtown Bunker Hill, City West, ...","$28,638","26,390",4
10,90018,"Los Angeles (Jefferson Park, Leimert Park)","$37,341","52,287",1
11,90019,"Los Angeles (Arlington Heights, Country Club P...","$50,671","67,415",2
12,90020,"Los Angeles (Hancock Park, Western Wilton, Wil...","$42,407","39,191",1
13,90021,"Los Angeles (Downtown Fashion District, Downto...","$12,864","3,158",1
14,90022,East Los Angeles,"$41,276","67,446",1
15,90023,"Commerce, East Los Angeles","$40,225","47,229",1
16,90024,Los Angeles (Westwood),"$59,418","49,718",4
17,90025,"Los Angeles (Sawtelle, West Los Angeles)","$78,713","47,453",4
18,90027,"Los Angeles (Griffith Park, Hollywood, Los Feliz)","$58,344","45,616",3
19,90028,Los Angeles (Hollywood),"$40,068","31,054",9
20,90032,"Los Angeles (El Sereno, Monterey Hills)","$47,370","47,766",1
21,90033,Los Angeles (Boyle Heights),"$31,683","48,841",1
22,90034,Los Angeles (Palms),"$65,572","56,070",3
23,90036,"Los Angeles (Fairfax, Melrose, Miracle Mile, P...","$74,279","38,116",9
24,90038,Los Angeles (Hollywood),"$36,996","27,957",2
25,90039,"Los Angeles (Atwater Village, Elysian Valley, ...","$81,394","29,092",3
26,90040,"Commerce, City of","$43,585","12,925",3
27,90041,Los Angeles (Eagle Rock),"$73,250","28,651",4
28,90042,Los Angeles (Highland Park),"$55,596","63,788",1
29,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",21
...,...,...,...,...,...
195,91732,El Monte,"$48,254","63,557",1
196,91733,"El Monte, South El Monte","$42,758","44,989",1
197,91740,Glendora,"$76,825","26,067",2
198,91741,Glendora,"$99,474","26,610",2
199,91744,"City of Industry, La Puente, Valinda","$63,318","86,982",1
200,91745,Hacienda Heights,"$81,397","54,166",2
201,91746,"Avocado Heights, Bassett, West Puente Valley","$64,607","30,640",1
202,91748,"City of Industry, Rowland Heights","$64,983","47,114",4
203,91750,La Verne,"$83,743","34,017",4
204,91754,Monterey Park,"$58,056","33,114",1
205,91765,Diamond Bar,"$95,285","47,398",3
206,91766,Pomona (Phillips Ranch),"$54,163","72,787",4
207,91767,Pomona,"$54,157","49,492",1
208,91768,Pomona,"$50,044","36,122",4
209,91770,Rosemead,"$51,383","63,981",3
210,91773,San Dimas,"$81,020","34,555",4
211,91775,San Gabriel,"$81,250","25,156",1
212,91780,Temple City,"$67,910","35,184",1
213,91789,"City of Industry, Diamond Bar, Walnut","$95,081","44,115",2
214,91790,West Covina,"$74,965","45,958",1
215,91791,West Covina,"$80,020","33,953",2
216,91792,West Covina,"$70,932","29,787",2
217,91801,Alhambra,"$53,644","54,928",3
218,91803,Alhambra,"$61,424","30,137",3
219,93534,Lancaster,"$37,883","39,166",2
220,93535,"Hi Vista, Lake Los Angeles, Lancaster, Rooseve...","$42,978","73,728",1
221,93536,"Del Sur, Fairmont, Lancaster, Metler Valley, N...","$72,634","71,303",3
222,93550,"Lake Los Angeles, Palmdale","$39,279","75,774",1
223,93551,"City Ranch, Leona Valley, Palmdale","$87,628","51,896",5
224,93552,Palmdale,"$60,612","41,320",3