In [22]:
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

In [54]:
url = 'https://www.california-demographics.com/zip_codes_by_population'
response = requests.get(url, 'html.parser')
page_soup = soup(response.text)
population = []
for tr in page_soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    if len(tds[1].text.strip()) == 5:
        population.append([tds[1].text.strip(), tds[2].text.strip()])

IndexError: list index out of range

In [59]:
populationdf = pd.DataFrame(population)
populationdf.columns = ['zip', 'population']
populationdf

        zip population
0     90011    108,051
1     90650    106,404
2     91331    105,696
3     90201    102,878
4     92335     99,791
5     90250     97,371
6     91342     96,177
7     90805     96,069
8     90280     95,420
9     90044     94,680
10    92503     94,523
11    92336     94,327
12    94565     93,549
13    92683     91,758
14    92704     90,525
15    91710     88,862
16    92804     88,065
17    95076     87,781
18    92154     87,218
19    91744     86,982
20    92376     86,937
21    94112     85,373
22    93307     84,948
23    93722     84,481
24    91911     84,025
25    93033     83,572
26    92592     82,551
27    92126     81,883
28    93727     81,118
29    92509     81,093
...     ...        ...
1577  95140         70
1578  95974         65
1579  95679         64
1580  96046         63
1581  96111         59
1582  95305         52
1583  95587         51
1584  95463         50
1585  93208         48
1586  96071         47
1587  96049         46
1588  95720         42
1589  95984         41
1590  96123         40
1591  96136         38
1592  93522         34
1593  93519         28
1594  93634         24
1595  92304         23
1596  94972         22
1597  96061         21
1598  94573         20
1599  95325         19
1600  95724         18
1601  95923         16
1602  95226         15
1603  92332         11
1604  93530         10
1605  95430          6
1606  95735          2

[1607 rows x 2 columns]

In [133]:
starbucks = pd.read_csv('directory.csv')
starbucks = starbucks[['Brand','City','State/Province', 'Postcode']]
starbucks.columns = ['brand', 'city', 'state', 'zip']
starbucks = starbucks[starbucks['city']=='Los Angeles']
starbucksdf = pd.DataFrame(starbucks['zip'].value_counts())
starbucksdf.reset_index(level=0, inplace=True)
starbucksdf.columns = ['zip', 'store_count']
starbucksdf['zip'] = starbucksdf['zip'].str.slice(0,5,1)
starbucksdf

       zip  store_count
0    90045           11
1    90071            4
2    90045            4
3    90007            3
4    90064            3
5    90035            2
6    90048            2
7    90010            2
8    90036            2
9    90012            2
10   90024            1
11   90014            1
12   90024            1
13   90048            1
14   90028            1
15   90017            1
16   90046            1
17   90040            1
18   90001            1
19   90015            1
20   90066            1
21   90017            1
22   90027            1
23   90042            1
24   90018            1
25   90045            1
26   90027            1
27   90016            1
28   90071            1
29   90045            1
..     ...          ...
72   90036            1
73   90049            1
74   90004            1
75   90036            1
76   90046            1
77   90035            1
78   90047            1
79   90036            1
80   90071            1
81   90001            1
82   90017            1
83   90046            1
84   90048            1
85   90068            1
86   90021            1
87   90014            1
88   90016            1
89   90034            1
90   90015            1
91   90028            1
92   90039            1
93   90019            1
94   90025            1
95   90041            1
96   90034            1
97   90038            1
98   90036            1
99   90077            1
100  90041            1
101  90038            1

[102 rows x 2 columns]

In [134]:
url = 'http://www.laalmanac.com/employment/em12c.php'
response = requests.get(url, 'html.parser')
page_soup = soup(response.text)
income = []
for tr in page_soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    income.append([tds[0].text.strip(), tds[1].text.strip(), tds[2].text.strip()])

In [135]:
incomedf = pd.DataFrame(income)
incomedf.columns = ['zip', 'community', 'median_income']
demographicsdf = incomedf.merge(populationdf, on='zip')

In [136]:
demographicsdf.head()

,zip,community,median_income,population
0,90001,"Los Angeles (South Los Angeles), Florence-Graham","$35,660","58,738"
1,90002,"Los Angeles (Southeast Los Angeles, Watts)","$34,000","52,856"
2,90003,"Los Angeles (South Los Angeles, Southeast Los ...","$34,397","70,490"
3,90004,"Los Angeles (Hancock Park, Rampart Village, Vi...","$46,581","62,733"
4,90005,"Los Angeles (Hancock Park, Koreatown, Wilshire...","$32,461","39,562"

In [137]:
finaldf = demographicsdf.merge(starbucksdf, on='zip')

In [138]:
finaldf

,zip,community,median_income,population,store_count
0,90001,"Los Angeles (South Los Angeles), Florence-Graham","$35,660","58,738",1
1,90001,"Los Angeles (South Los Angeles), Florence-Graham","$35,660","58,738",1
2,90004,"Los Angeles (Hancock Park, Rampart Village, Vi...","$46,581","62,733",1
3,90007,"Los Angeles (Southeast Los Angeles, Univerity ...","$23,070","41,221",3
4,90010,"Los Angeles (Hancock Park, Wilshire Center, Wi...","$47,115","3,759",2
5,90010,"Los Angeles (Hancock Park, Wilshire Center, Wi...","$47,115","3,759",1
6,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",2
7,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",1
8,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",1
9,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",1
10,90012,"Los Angeles (Downtown Civic Center, Chinatown,...","$38,786","33,783",1
11,90013,"Los Angeles (Downtown Central, Downtown Fashio...","$22,808","11,957",1
12,90013,"Los Angeles (Downtown Central, Downtown Fashio...","$22,808","11,957",1
13,90014,"Los Angeles (Downtown Historic Core, Arts Dist...","$37,619","7,408",1
14,90014,"Los Angeles (Downtown Historic Core, Arts Dist...","$37,619","7,408",1
15,90015,"Los Angeles (Dowtown Fashion District, South P...","$32,979","20,187",1
16,90015,"Los Angeles (Dowtown Fashion District, South P...","$32,979","20,187",1
17,90015,"Los Angeles (Dowtown Fashion District, South P...","$32,979","20,187",1
18,90015,"Los Angeles (Dowtown Fashion District, South P...","$32,979","20,187",1
19,90015,"Los Angeles (Dowtown Fashion District, South P...","$32,979","20,187",1
20,90016,Los Angeles (West Adams),"$43,443","46,303",1
21,90016,Los Angeles (West Adams),"$43,443","46,303",1
22,90016,Los Angeles (West Adams),"$43,443","46,303",1
23,90016,Los Angeles (West Adams),"$43,443","46,303",1
24,90017,"Los Angeles (Downtown Bunker Hill, City West, ...","$28,638","26,390",1
25,90017,"Los Angeles (Downtown Bunker Hill, City West, ...","$28,638","26,390",1
26,90017,"Los Angeles (Downtown Bunker Hill, City West, ...","$28,638","26,390",1
27,90017,"Los Angeles (Downtown Bunker Hill, City West, ...","$28,638","26,390",1
28,90018,"Los Angeles (Jefferson Park, Leimert Park)","$37,341","52,287",1
29,90019,"Los Angeles (Arlington Heights, Country Club P...","$50,671","67,415",1
...,...,...,...,...,...
67,90041,Los Angeles (Eagle Rock),"$73,250","28,651",1
68,90042,Los Angeles (Highland Park),"$55,596","63,788",1
69,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",11
70,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",4
71,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",1
72,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",1
73,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",1
74,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",1
75,90045,Los Angeles (Los Angeles International Airport...,"$90,399","41,420",1
76,90046,"Los Angeles (Hollywood), West Hollywood","$65,990","51,615",1
77,90046,"Los Angeles (Hollywood), West Hollywood","$65,990","51,615",1
78,90046,"Los Angeles (Hollywood), West Hollywood","$65,990","51,615",1
79,90046,"Los Angeles (Hollywood), West Hollywood","$65,990","51,615",1
80,90047,Los Angeles (South Los Angeles),"$42,551","48,491",1
81,90048,"Los Angeles (Mid-City West), West Hollywood","$85,396","22,860",2
82,90048,"Los Angeles (Mid-City West), West Hollywood","$85,396","22,860",1
83,90048,"Los Angeles (Mid-City West), West Hollywood","$85,396","22,860",1
84,90049,"Los Angeles (Bel Air Estates, Brentwood)","$121,671","36,362",1
85,90049,"Los Angeles (Bel Air Estates, Brentwood)","$121,671","36,362",1
86,90057,Los Angeles (Westlake),"$31,337","49,389",1
87,90063,"City Terrace, Los Angeles (Boyle Heights)","$44,121","53,556",1
88,90064,"Los Angeles (Cheviot Hills, Rancho Park)","$92,194","26,007",3
89,90064,"Los Angeles (Cheviot Hills, Rancho Park)","$92,194","26,007",1
90,90064,"Los Angeles (Cheviot Hills, Rancho Park)","$92,194","26,007",1
91,90064,"Los Angeles (Cheviot Hills, Rancho Park)","$92,194","26,007",1
92,90064,"Los Angeles (Cheviot Hills, Rancho Park)","$92,194","26,007",1
93,90066,"Culver City, Los Angeles (Mar Vista)","$75,209","59,747",1
94,90068,Los Angeles (Hollywood),"$82,718","21,726",1
95,90077,"Los Angeles (Bel Air Estates, Beverly Glen)","$184,722","8,936",1
96,90230,Culver City,"$79,242","32,657",1